
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #ff3b3f;
    height: 150px;
    display: flex;
    align-items: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .header-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .header-container h1 {
    font-size: 2rem;
    margin: 0 2rem;
    color: white;
  }
  
  nav {
    font-size: 1.2rem;
    color: white;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    list-style: none;
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }

  table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #ff3b3f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ff3b3f;
  }
  
  .formato {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .button {
    background-color: #ff3b3f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
